*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(246,248,249,255)
    ;
   
}

.box-logo{
    width: 100%;
    height: 100px;
    background-color:white;
    
}

#logo{
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
}

#tobo{
    color:black;
    font-size: 50px;
    margin-left: 20px;
}

.main-box{
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: 600px;
    background-color:white;
    border-radius: 1%;
    padding-left: 50px;
    padding-top: 20px;
   
}

/* .box{ */
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background-color:darkblue;
    border-radius: 1%;
}

.button{
    border-bottom: solid 2px black;
}

#button-1{
    background-color:rgba(71,173,241,255);    ;
    color:white;
    border: solid 1px lightgrey;
    border-radius: 5%;
    padding: 10px 10px;
}

#button-2{
    background-color: white;
    color:lightgrey;
    border: solid 1px lightgrey;
    border-radius: 5%;
    padding: 10px 10px;
    
}

#text{
    font-size: 30px;
    
}

#row span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(71,173,241,255);
    color:white;
    border-radius: 25%;
    line-height: 3.6;
}

#row2 span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(71,173,241,255);
    color:white;
    border-radius: 25%;
    line-height: 3.6;
}

#row3 span{
    
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(156,114,228,255)
    ;
    color:white;
    border-radius: 25%;
}

#row4 span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(100,192,169,255)
    ;
    color:white;
    border-radius: 25%;
    line-height: 3.6;
}

#row5 span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(242,158,51,255)
    ;
    color:white;
    border-radius: 25%;
}

#row6 span{
    line-height: 3.6;
}

#row7 span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(216,99,161,255);
    color:white;
    border-radius: 25%;
}

#row8 span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(176,201,38,255);    ;
    color:white;
    border-radius: 25%;
    line-height: 3.6;
}

#row9 span{
    font-size: 15px;
    padding: 4px 5px;
    background-color:rgba(69,171,234,255);
    color:white;
    border-radius: 25%;
}